input[type=text]{
    color: rgb(102, 217, 239);     
    background-color: rgb(39, 40, 34);
    font-family: Consolas, sans-serif;
    font-size: 1rem;   
    display: inline-block;    
    width: 100%;
    border: none;
    border-bottom: solid 1px rgb(102, 217, 239);
    padding: 1rem;
    padding-top: none;
    margin-bottom: 2rem;
}
  
input[type=text]:focus {
    outline: none; 
}

section{
    margin: 2rem;
    padding-right: 2rem;
}

select{
    padding: 1rem;
    background-color: rgb(39, 40, 34);
    color: rgb(102, 217, 239); 
    border: none; 
    margin-bottom: 2rem;
}

.hidden{
    display: none;
}